.HeaderFooter {
    margin: 0 auto;
    max-width: 1361px;
    margin-top: -60px;
}
.HeaderFooterTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
}
.HeaderFooterWrapperAutomation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HeaderFooterSettingsIcon {
    position: relative;
    z-index: 2;
    top: 40px;
    left: 34px;
}
.HeaderFooterMessage {
    margin: 0 26px 0 26px;
}
.HeaderFooterSettingsBlock {
    max-width: 388px;
    background: linear-gradient(180deg, #1E2242 27.07%, rgba(30, 34, 66, 0) 100%);
    max-width: 388px;
    padding-top: 54px;
    padding-left: 34px;
    padding-bottom: 59px;
    padding-right: 60px;
}
.HeaderFooterSettingsBlockTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    max-width: 299px;
}
.HeaderFooterSettingsBlockParagraph {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A7A7C8;
    max-width: 297px;
    text-align: start;
}